<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About us</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Rerum ullam cum dolorum voluptas, porro, odio ipsum aspernatur adipisci reprehenderit vitae, 
                    quibusdam in. Hic quo, optio quas nihil eveniet iure reprehenderit?
                </p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul>
                    <li>&gt; Home</li>
                    <li>&gt; Book</li>
                    <li>&gt; Package</li>
                    <li>&gt; Gallery</li>
                    <li>&gt; Service</li>
                    <li>&gt; Contact us</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contacts</h4>
                <p><i class="fa-solid fa-location-dot"></i>203 Fake St. Mountain View, San Francisco, California, USA</p>
                <a href=""><i class="fa-solid fa-phone"></i>+2 392 3929 210</a>
                <a href=""><i class="fa-solid fa-envelope"></i>infoa.yourdomain.com</a>
            </div>
        </div>
        <div class="row row2"><p>Copyright &copy; Developed by AWS Dev Code - 2024</p></div>
    </div>
</footer>
