.container   {
    /* border: 2px solid red; */
    padding: 4rem 0rem;
}
.container h1  {
    text-align: center;
    color: #ffc107;
}
.row   {
    /* border: 2px solid blue; */
    margin: 2rem 0rem;
}
.green   {
    /* border: 2px solid green; */
    margin: 2rem 0rem;
}

.rating {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .star {
    color: gold; /* Set the color to gold */
  }