<div class="container">
    <h1>PAKAGES</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New York City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sydney City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">London City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paris City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tokyo City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Egypt</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dubai City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="../../assets/images/img8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">pi jing City</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
              <h4 class="price">$236.0</h4>
              <a href="#" class="btn btn-warning">Explore</a>
            </div>
          </div>
      </div>
      
    </div>
  </div>
  