<div class="service">
    <div class="container">
        <h1>OUR SERVICE</h1>
        <div class="row">
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-solid fa-hotel"></i>
                <h1 class="card-title">Hotel</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-solid fa-bed"></i>
                <h1 class="card-title">Beds</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-solid fa-utensils"></i>
                <h1 class="card-title">Food</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-solid fa-shield-halved"></i>
                <h1 class="card-title">Security</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-brands fa-space-awesome"></i>
                <h1 class="card-title">Adventure</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xl-4 p-4">
            <div class="card text-center">
              <div class="card-body">
                <i class="fa-solid fa-house-medical"></i>
                <h1 class="card-title">Facilities</h1>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
          
</div>