<div class="contact">
    <div class="container">
        <h1>Contact us</h1>
        <div class="row justify-content-center">

            
          <div class="col">

            <form>
              <!-- Form fields -->
              <div class="rows ">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Your Name">
              </div>
              <div class="rows ">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Your Phone">
              </div>
              <div class="rows ">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Your Email">
              </div>
              <div class="rows ">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Your Message"></textarea>
              </div>
              <!-- Submit Button -->
              <button type="submit" class="btn btn-warning px-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
      
</div>