<div class="container">
    <h1>BOOK NOW</h1>
    <div class="row">
        <div class="green img-col col-md-6"><div class="book-img"><img src="../../assets/images/traveler.png" alt=""></div></div>
        <div class="green form-col col-md-6">
            <form action="">
                <div class="form-row">
                    <label for="w">Where To</label><br>
                    <input type="text" name="" placeholder="Search place" id="w">
                </div>
                <div class="form-row">
                    <label for="h">How Mony</label><br>
                    <input type="text" name="" placeholder="Number of guests" id="h">
                </div>
                <div class="form-row">
                    <label for="a">Arrivals</label><br>
                    <input type="date" name="" id="a">
                </div>
                <div class="form-row">
                    <label for="l">Leaving</label><br>
                    <input type="date" name="" id="l">
                </div>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
