<div class="gallery">
    <div class="container">
        <h1>GALLERY</h1>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img1.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img2.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img3.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img4.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img5.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img6.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img7.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="gallery-card">
                    <div class="img-box"><img src="../../assets/images/img8.jpg" alt=""></div>
                    <div class="overlay">
                        <h1 class="text-warning">Amazing place</h1>
                        <a href="" class="btn btn-warning">Expore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
